extends layouts/main
include mixins/feedBlock
block content
    img.profile_avatar(src=user.avatarUrl)
    h3.profile__username=user.name
    h4.profile__status=user.status
    if loggedUser===null
    else if user.id===loggedUser.id
        .profile__btns
            a(href=`/users${routes.editProfile}`)
                button Edit profile
            a(href=`/users${routes.changePassword}`)
                button Change Password
    .profile__feeds
        each item in user.feeds
            +feedBlock({
                id:item._id,
                title:item.title,
                description:item.description,
                thumbnail:item.imageUrls[0]
            })